extends layout.pug

block content

  article.portfolio-intro

    h2 Hi! I'm Marko, a Web-Developer based in Toronto!

    p See some of my recent work below


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name} thumbnail`)
            h5 #{project.project_name}
       
       

        

